body{
    margin: 0px;
    margin-top: 10px;
}
/* заголовок */
header{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
header div{
    padding: 20px 10px;
    width: 10%;
    border: 1px green solid;
    color: green;
    text-align: center;
}
header div:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}