/* Кнопка Заново окна игры */
.btn-link{
  width: 90%;
  height: 100%;
  background-color: #23a843;
  color: white;
  font-weight:400;
  font-size: 19px;
}
.btn-link:hover{
  text-decoration: none;
  color: white;
  background-color: #1d8636;
}

/* Модальный заголовок */
.modal-header {
  padding: 2px 16px;
  background-color: #23a843;
  color: white;
  text-decoration: none;
}
  
  * Модальное body */
.modal-body {
  padding: 5px 16pxж
}
  
/* Модальный footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #0182be;
  color: white;
}
  
/* Модальный content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 55%;
  box-shadow: 1px 3px 3px;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Анимация */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* кнопки модального окна ввода */
.input-buttons{
    display: flex;
    justify-content: center;
    padding: 3px 5px;
  }
.input-buttons input{
    margin: 0px 5px;
    width: 150px;
  }
/* inputs модального окна ввода */
.input-text{
  display: flex;
  justify-content: center;
  padding: 3px 5px;  
}
.input-text label, input{
  margin: 0px 10px;
  vertical-align:middle
}
.modal-body div{
  padding: 5px 0px;
}
/* кнопки и inputs модального окна начала игры */
.modal-body p{
  text-align: center;
}
#start-game-frame .modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#start-game-btn{
  width: 100px;
}