*{
    margin: 0px;   
    padding: 0px;
}
body{
    margin-top: 10px;
}

.header-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header-navigation__link{
    padding: 20px 10px;
    width: 10%;
    border: 1px green solid;
    color: green;
    text-align: center;
}
.header-navigation__link:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}