.modal-container {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 55%;
  box-shadow: 1px 3px 3px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-container__header {
  padding: 2px 16px;
  background-color: #23a843;
  color: white;
  text-decoration: none;
}

.modal-container__footer {
  padding: 2px 16px;
  background-color: #0182be;
  color: white;
}

.modal-container__body{
  padding: 10px 15px;
}
.modal-container__body #messageField{
  text-align: center;
}

/* кнопки модального окна ввода */
.input-buttons{
  display: flex;
  justify-content: center;
  padding: 3px 5px;
}
.modal-container__button{
  margin: 0px 5px;
  width: 150px;
}
/* inputs модального окна ввода */
.modal-container__input{
display: flex;
justify-content: center;
padding: 3px 5px;  
}
.modal-container__input label, input{
margin: 0px 10px;
vertical-align:middle
}

/* Анимация */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#start-game-frame .modal-container__body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#start-game-btn{
  width: 100px;
}

/* Кнопка Заново окна игры */
.btn-link{
  width: 45%;
  height: 100%;
  background-color: #23a843;
  color: white;
  font-weight:400;
  font-size: 19px;
}
.btn-link:hover{
  text-decoration: none;
  color: white;
  background-color: #1d8636;
}
