body{margin-top: 10px;}

.card{
    text-align: center;
}

.card-footer{
    padding: 18px 0px;
    border: 1px solid rgb(222, 222, 222);
    background-color: rgb(247, 247, 247);
}
.card-footer__btn{
    width: 30%;
    padding: 5px 20px;
    margin: 0px 5px;
    border: 1px solid rgb(222, 222, 222);
    background-color: white;
}
.card-footer__btn:hover{
    color: rgb(222, 222, 222);
}
.card-footer__btn:active{
    border: 1px solid black;
    color: black;
}
.card-row{
    display: flex;
    height: 40px;
}

.card-row-title-col{
    width: 25%;
}
.card-row-title-col__title{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left: 5px;
}

.card-row-output{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 75%;
    padding-left: 5px;
}
.card-row-output__surname{
    font-size: 30px;
    font-weight: bolder;
}
.card-row-output__name{
    font-size: 20px;
    font-weight: bolder;
}